# Unreal folders (inside subfolder)
AIProgramming/Binaries/
AIProgramming/DerivedDataCache/
AIProgramming/Intermediate/
AIProgramming/Saved/
AIProgramming/Build/
AIProgramming/FileOpenOrder/

# Visual Studio
.vs/
*.suo
*.user
*.VC.db
*.sln

# Build artifacts
*.pdb
*.exp
*.lib
*.obj

# Packaged builds
*.pak
*.sig